name: Build and Push Docker image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.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 }}
          logout : false

      - name: Build and push Docker image
        run: |
          docker build -t magicmonti/weather_server_dev .
          docker push magicmonti/weather_server_dev